@import "_base.scss";
@import "_layout.scss";
@import "_variables.scss";




#clock {
    margin: 0 auto;
    padding: 30px 0;
    color: $white;
    font-size: 16rem;
    text-align: center;
}

#login-form {
    display: flex;
    width: 600px;
    height: auto;
    justify-content: space-between;
    gap: 10px;


    & input:first-child {
        width: 100%;
        font-size: 2rem;
        padding: 10px;
    }

    & input:nth-child(2) {
        width: auto;
        font-size: 2rem;
        padding: 10px 40px;
        cursor: pointer;
        background-color: $blue;
        color: $white;
    }

}

// name
#greeting {
    font-size: 32px;
    text-align: center;
    color: $name;
    line-height: 40px;


}

#todo-form {
    width: 600px; 

    & input {
    text-align: center;
    padding: 10px 0;
    font-size: 2rem;
    width: 100%;
    }
}

#todo-list {
    margin-top: 40px;

    & li {
        display: flex;
        font-size: 2rem;
        padding-bottom: 10px;
        list-style: none;

        & span {
            margin-right: 10px;
            color: $white;

        }
    }

    
}

// footer, 명언
#quote {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 20px;
    gap: 10px;
}


#weather, #logout {
    position: absolute;
    top: 20px;
    color: $white;
}


#weather {
    right:40px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

// 로그아웃 버튼
#logout {
    left: 40px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 2;
}

